@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

*, *::before, *::after {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
}



/* Menu */

.menu{
    background-color: rgba(241, 118, 52, 1);
    height: auto;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgba(241, 118, 52, 1);
}


.imagen_menu{
    width: 4em;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    text-transform: uppercase;
    color: rgba(30, 30, 30, 1);
}

.menu_items li:hover, li:active{
    background-color: azure;
    transition: .4s;
}

.btn_menu{
    width: 3rem;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 85px;
}

@media screen and (max-width: 952px){
    .menu_items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 858px){
    .menu{
        height: 85px;
        padding-left: 0;
    }
    .btn_menu{
        display: flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 85px);
        background: #ffb963;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: rgb(0, 0, 0);
    }
    .imagen_menu{
        padding-left: 1rem;
    }

}

@media screen and (max-width: 858px) and (orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 85px);
    }
}

/* End Header */

/* Footer */

.contenedor_footer{
    display: flex;
    padding: 1rem;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 118, 52, 1);
    gap: 1rem;
}

.imagen_footer{
    width: 30%;
}

.textos{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.textos_footer{
    color: white;
    font-size: 1rem;
}

.logo{
    height: auto;
    width: 100%;
}

/* end footer */

/* Body Antecedentes */

.contenedor_body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


article{
    padding: 1rem;
    width: 90%;
}


hr{
    border: none;
    margin: 1rem;
}

.titulo{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.titulos_paginas{
    font-size: 2rem;
}

.parrafo{
    text-align: justify;
}


/* Body Regimen Tributario */

form{
    display: flex;
    justify-content: center;
}


.permanencia__button--comercio{
    background-color: rgba(241, 118, 52, 1);
    width: 80%;
    font-size: 1.2rem;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
}

.permanencia__button--comercio:hover{
    background-color: rgb(234, 167, 131);
}

.contenedor_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
}

.titulos_permanencia{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.contenedor_permanencia{
    padding: 2rem;
    gap: 5rem;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.titulo_permanencia{
    font-size: 2.5rem;
    text-align: center;
}

.permanencia__conteiner--text{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

/* End permanencia */

/* Estilos Nosotros */

.galeria_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.galeria{
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: scroll;
    gap: 2rem;
}

.titulo_nosotros{
    font-size: 2.5rem;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover img:hover{
    border: 1px solid #777;
  }
  
  div.gallery img {
    height: 28rem;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.contenedor_nosotros{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contenedor{
    border: .1rem solid black;
    width: 100%;
}

.texto_nosotros{
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
}

.titulos{
    background-color: rgba(251, 185, 89, 1);
    border-bottom: .1rem solid black 
}

.texto{
    padding: 1rem;
}

.titulos_nosotros2{
    color: white;
    font-size: 1.5rem;
}

/* End Nosotros */

/* Estilo Huellitas */

.boton_huellita{
    background-color: rgba(251, 185, 89, 1);
    width: 12rem;
    font-size: 1.2rem;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
}

.boton_huellita:hover{
    background-color: rgb(234, 167, 131);
}

.imagen_huellita{
    width: 100%;
    border-radius: 1rem;
}

.textos_huellita{
    font-size: 1.2rem;
    font-weight: 500;
}

.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
}

.info2{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
}

.contenedor_imagen{
    width: 80%;
}

.contenedor_huellita{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenedor_huellita2{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contenedor_huellitas{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

/* End Huellitas */

/* Estilo Contacto */

.contacto_contenedor{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contenedor_contacto{
    width: 90%;
    background: #1E1E1E;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.informacion_contacto{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.textos_formulario{
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-family: 500;
}

.textos{
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    align-items: center;
    width: 12rem;
    background-color: rgba(241, 118, 52, 1);
    border-radius: 1rem;
}

.textos_2{
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    align-items: center;
    width: 16rem;
    background-color: rgba(251, 185, 89, 1);
    border-radius: 0rem;
}

.titulos_formulario{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-family: 500;
}

.arriba{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacto_formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}

.contacto_formulario input[type=text], input[type=email]{
    background-color: #FBB959;
    border-radius: .5rem;
    padding: .1rem;
    padding-left: 1rem;
    width: 100%;
}

.contacto_formulario textarea{
    height: 12rem;
    background-color: #FBB959;
    border-radius: .5rem;
    padding: .1rem;
    padding-left: 1rem;
    width: 100%;
}


.contacto_formulario input[type=submit]{
    background-color: #FBB959;
    border-radius: .5rem;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: white;
    font-size: 1rem;
}

::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1; 
    font-size: 1rem;
}

/* End Contacto */

/* Estilo Donar */

.contenedor_donar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
}

.contenedor_contenido{
    display: flex;
    gap: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.titulo_donar{
    font-size: 2.5rem;
}

.contenedor_imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Formulario*/

.contenedorform{
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 1);
    padding: 2rem;
    border-radius: 2rem;
    gap: 2rem;
}

.control_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contenedorform h4 {
    font-size: 4rem;
    margin-bottom: 50px;
    margin-top: 5px;
    color: white;
}

.controls1{
    width: 100%;
    border-radius: 1rem;
    background: #FBB959;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
}

.controls{
    width: 100%;
    border-radius: 1rem;
    background: #F17634;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
}

.botons {
    width: 30%;
    height: 40px;
    background: #F17634;
    border: none;
    color: white;
    border-radius: 15px;
    margin-left: 70%;
    margin-top: 50px;
    font-size: x-large;
}

.donar__form--img{
    width: 45rem;
    height: auto;
}


/* Responsive */




@media screen and (min-width: 600px) {
    .permanencia__button--comercio{
        width: 45%;
    }
}

@media screen and (min-width: 992px) {
    .contenedor_body {
      background-color: rgb(255, 255, 255);
    }
    .contenedor_footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
    article{
        padding: 1rem;
        width: 80%;
    }
    .textos{
        width: 40%;
        gap: 0.7rem;
    }
    .textos_footer{
        text-align: right;
    }
    .contenedor_links{
        width: 40%;
    }
    .contenedor_permanencia{
        gap: 10rem;
    }
    .contenedor_nosotros{
        flex-direction: row;
        justify-content: space-around;
    }
    .contenedor{
        width: 40%;
    }
    .contenedor_huellita{
        flex-direction: row;
    }
    .contenedor_huellita2{
        flex-direction: row-reverse;
    }
    .imagen_huellita{
        width: 20rem;
    }
    .info{
        width: 50%;
    }
    .info2{
        width: 50%;
        align-items: end;
    }
    .contenedor_imagen{
        width: auto;
    }
    .arriba{
        flex-direction: row;
    }
    .contenedor_contacto{
        padding: 2rem;
    }
    .contacto_formulario input[type=text], input[type=email]{
        padding: .5rem;
    }
    .contacto_formulario textarea{
        padding: .5rem;
    }
    ::placeholder { 
        color: rgb(255, 255, 255);
        opacity: 1; 
        font-size: 1.2rem;
    }
    .mapa_contacto{
        padding-bottom:0; 
        position:relative; 
        display:block; 
        width: 60%
    }
    .informacion_contacto{
        width: 35%;
    }
    .contenedor_contenido{
        flex-direction: row;
    }
    .contenedorform{
        width: 40%;
    }
    .donar__form--img{
        width: 45vw;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .contenedor_body {
      padding-bottom: 3rem;
    }
    .parrafo{
        font-size: 1.5rem;
    }
    .imagen_footer{
        width: 15%;
    }
    .titulos_pagina{
        font-size: 2.5rem;
    }
    .textos_nosotros{
        font-size: 1.5rem;
    }
    .titulos_nosotros2{
        font-size: 2rem;
    }
    .contenedor{
        height: 25vw;
    }
  }
